@import "reset";

body {
  font-family: -apple-system, BlinkMacSystemFont, Lato, Roboto, "Segoe UI",
    "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
  // 모달이 열릴 경우 스크롤 막기 위해
  font-size: 1.6rem;
  &.modal-open {
    overflow: hidden;
  }
}

button,
input,
select {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

p {
  word-break: keep-all;
}

// font 변경될 경우 password의 특수문자를 지원하지 않는 폰트 때문에 sans-serif로 고정
input[type="password"] {
  font-family: sans-serif;
}

a {
  color: #1b1b1b;
  transition: color 0.3s;
  &:hover {
    color: #0050ff;
  }
}
